@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);
@import url(./blocks/header/header.css);
@import url(./blocks/contact/contact.css);
@import url(./blocks/gallery/gallery.css);
@import url(./blocks/query/query.css);

.root {
  font-family: 'Museo', Arial, Helvetica, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
  background: #fff;
  line-height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
