.query {
  margin: 0 auto;
  padding: 0;
  display: flex;
  max-width: 1280px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.query__title {
  margin: 80px 563px 32px 553px;
  padding: 0;
  color: var(--gray-900-black, #1a1a1a);
  font-family: 'Museo', Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  width: 164px;
  letter-spacing: 0.01em;
}
.query__box-wrapper {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.query__box {
  margin: 0;
  padding: 0;
  max-width: 996px;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 16px;
  background: var(--gray-0-white, #fff);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  justify-items: baseline;
  scale: 1;
}
.query__box:hover {
  scale: 1.03;
  -o-transition: scale 0.5s ease-in-out;
  -webkit-transition: scale 0.5s ease-in-out;
  transition: scale 0.5s ease-in-out;
}

.query__link-container {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 396px;
  width: 100%;
  gap: 4px;
}
.query__link {
  margin: 19px 17px 20px 23px;
  padding: 0;
  text-decoration: none;
  color: var(--gray-900-black, #1a1a1a);
  text-align: left;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  scale: 1;
  text-wrap: wrap;
  letter-spacing: 0.02em;
}
.query__link:hover {
  opacity: 0.6;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.query__paragraph {
  color: var(--gray-500, #949494);
  font-family: 'Museo', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.2px;
  letter-spacing: 0.01em;
}
.query__arrow {
  padding: 0;
  margin: 0;
}

.query__link-title {
  margin: 0;
  padding: 0;
  color: var(--gray-900-black, #1a1a1a);
  font-family: 'Museo', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

@media screen and (max-width: 400px) {
  .query__title {
    font-size: 27px;
    line-height: 32px;
  }
}
